* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.container {
    width: 1140px;
    margin: 0 auto;
}

.promo {
    min-height: 800px;
    padding: 40px 0 60px 0;
    background: url('../img/main_bg.jpg') center center/cover no-repeat;
}

.logo .logo_icon {
    display: block;
    margin: 0 auto;
}

.logo .logo_text {
    text-align: center;
    color: #fff;
    font-family: 'Roboto';
    font-weight: 500;
    font-size: 15px;
    line-height: 24px;
    margin-top: 10px;
}

.promo_title {
    font-family: 'Roboto';
    font-weight: 900;
    font-size: 41px;
    line-height: 41px;
    text-transform: uppercase;
    text-align: center;
    margin-top: 53px;

    color: #F9BF3B;
}

.promo_simple {
    position: relative;
    font-family: 'Roboto';
    font-weight: 900;
    font-size: 80px;
    line-height: 80px;
    text-transform: uppercase;
    text-align: center;
    margin-top: 15px;

    color: #FFFFFF;
}

.promo_simple::before {
    content: '';
    position: absolute;
    width: 292px;
    height: 2px;
    left: 0;
    top: 43px;
    background: #FFFFFF;
}

.promo_simple::after {
    content: '';
    position: absolute;
    width: 292px;
    height: 2px;
    right: 0;
    top: 43px;
    background: #FFFFFF;
}

.promo_correct {
    font-family: 'Roboto';
    font-weight: 900;
    font-size: 41px;
    line-height: 41px;
    text-transform: uppercase;
    text-align: center;
    margin-top: 24px;

    color: #F9BF3B;
}

.promo_text {
    font-family: 'Roboto';
    font-weight: 300;
    font-size: 21px;
    line-height: 28px;
    text-align: center;
    margin-top: 24px;

    color: #FFFFFF;
}

.promo_text span {
    font-family: 'Roboto';
    font-weight: 700;

    color: #F9BF3B;
}

.promo_register_button {
    width: 313px;
    height: 72px;
    display: block;

    background: linear-gradient(0deg, #2798B9 0%, #3AB6DA 100%);
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.4);
    border: 0;
    margin: 72px auto 0;

    font-family: 'Roboto Condensed';
    font-weight: 400;
    font-size: 21px;
    text-align: center;
    text-transform: uppercase;

    color: #FFFFFF;

    text-shadow: -1px -1px 0px rgba(0, 0, 0, 0.22);
}

.promo_learn_more {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 100;
    font-size: 15px;
    line-height: 24px;
    margin-top: 68px;
    text-align: center;
    text-transform: uppercase;

    color: #FFFFFF;
}

.promo_down_arrow {
    display: block;
    margin: 7px auto 0;
}

.waiting {
    min-height: 600px;
    padding: 88px 0 75px;
    background: #EFEFEF;
}

.waiting_title {
    font-family: 'Roboto';
    font-weight: 400;
    font-size: 30px;
    line-height: 30px;
    text-align: center;
    text-transform: uppercase;

    color: #252525;
}

.divider {
    width: 217px;
    height: 4px;
    display: block;
    margin: 20px auto 0;

    background: #F9BF3B;
}

.waiting_subtitle {
    font-family: 'Roboto';
    font-weight: 400;
    font-size: 23px;
    line-height: 20px;
    text-align: center;
    margin-top: 20px;

    color: #4A4A4A;
}

.waiting_wrapper {
    margin-top: 45px;
    display: flex;
    justify-content: space-between;
}

.waiting_item {
    width: 342px;
}

.waiting_img {
    width: 100%;
}

.waiting_descr {
    font-family: 'Roboto';
    font-weight: 300;
    font-size: 15px;
    line-height: 21px;
    text-align: center;
    margin-top: 26px;

    color: #4A4A4A;
}

.optimization {
    min-height: 547px;
    padding: 108px 0 57px;
}

.optimization .container {
    position: relative;
}

.optimization_title {
    font-family: 'Roboto';
    font-weight: 900;
    font-size: 30px;
    line-height: 30px;
    text-transform: uppercase;
    margin-left: 391px;

    color: #299CBD;
}

.optimization_text {
    width: 750px;
    margin-left: 389px;
    font-family: 'Roboto';
    font-weight: 300;
    font-size: 17px;
    line-height: 24px;
    margin-top: 25px;

    color: #4A4A4A;
}

.optimization_text span {
    font-weight: 700;
}

.optimization_img {
    position: absolute;
    left: -240px;
    top: -54px;
    z-index: -1;
}

.finish {
    min-height: 450px;
    padding: 86px 0 68px;
    background: url('../img/second_bg.jpg') center center/cover no-repeat;
}

.finish_title {
    font-family: 'Roboto';
    font-weight: 400;
    font-size: 30px;
    line-height: 30px;
    text-align: center;
    text-transform: uppercase;

    color: #EFEFEF;
}

.finish .divider {
    margin: 18px auto 0;
}

.finish_wrapper {
    display: flex;
    justify-content: space-around;
    margin-top: 39px;
}

.finish_item {
    width: 208px;
}

.finish_icon_wrapper {
    position: relative;
    display: flex;
    width: 118px;
    height: 118px;
    margin: 0 auto;
}

.finish_icon_wrapper::before {
    position: absolute;
    content: '';
    width: 118px;
    height: 118px;
    background: #B4E2FF;
    border-radius: 100%;
}

.finish_icon {
    margin: auto;
    z-index: 5;
}

.finish_descr {
    margin-top: 25px;
    font-family: 'Roboto';
    font-weight: 300;
    font-size: 17px;
    line-height: 20px;
    text-align: center;

    color: #EFEFEF;
}

.gift {
    min-height: 631px;
    background: #EFEFEF;
    padding: 88px 0;
}

.gift_icon {
    display: block;
    margin: 0 auto;
}

.gift_text {
    margin-top: 45px;
    width: 1161px;
    font-family: 'Roboto';
    font-weight: 400;
    font-size: 30px;
    line-height: 43px;
    text-align: center;

    color: #252525;
}

.gift_button {
    width: 313px;
    height: 72px;
    display: block;

    background: linear-gradient(0deg, #2798B9 0%, #3AB6DA 100%);
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.4);
    border: 0;
    margin: 51px auto 0;

    font-family: 'Roboto Condensed';
    font-weight: 400;
    font-size: 21px;
    line-height: 24px;
    text-align: center;
    text-transform: uppercase;

    color: #FFFFFF;

    text-shadow: -1px -1px 0px rgba(0, 0, 0, 0.22);
}

.webinar {
    min-height: 512px;
    padding-top: 81px;
}

.webinar_wrapper {
    width: 577px;
    height: 433px;
    margin: 0 auto;
}

.webinar_icon {
    margin-top: 8px;
    width: 342px;
    height: 201px;
    display: block;
    margin: 0 auto;
}

.webinar_title {
    margin-top: 36px;
    font-family: 'Roboto';
    font-weight: 400;
    font-size: 30px;
    line-height: 30px;
    text-align: center;
    text-transform: uppercase;

    color: #252525;
}

.webinar_time {
    margin-top: 30px;
    font-family: 'Roboto';
    font-weight: 900;
    font-size: 36px;
    line-height: 36px;
    text-align: center;
    text-transform: uppercase;

    color: #299CBD;
}

.webinar_descr {
    margin-top: 25px;
    font-family: 'Roboto';
    font-weight: 400;
    font-size: 23px;
    line-height: 20px;
    text-align: center;

    color: #4A4A4A;
}

.footer {
    min-height: 169px;
    padding: 57px 0 69px;
    background: #1A1A1A;
}

.footer_wrapper {
    width: 407px;
    height: 43px;
    margin: 0 auto;

    font-family: 'Roboto';
    font-weight: 300;
    font-size: 15px;
    line-height: 21px;
    text-align: center;

    color: #888888;
}

.footer_links {
    display: flex;
    justify-content: center;
}

.footer_link {
    color: #888888;

}